.main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  align-items: center;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 60px;
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 24px;
  line-height: 2rem;
}

.button {
  width: max-content;
  padding: 20px;
  background-color: var(--color-primary);
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.img {
  width: 100%;
}

.center {
  text-align: center;
}

.loader {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  z-index: 999;
}
